.home {
  text-align: center;
}

.image {
  padding-top: 50px;
  width: 50%;
}

.nav {
  background-color: lightblue;
  height: 50px;
  border-bottom: 1px solid black;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.button {
  background: none;
  border: none;
  float: right;
  font-weight: 600;
  font-size: 16px;
  padding-right: 15px;
  cursor: pointer;
}